body{
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: larger;
}

button {
    background-color: white;
    color: black;
    font-size: larger;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
